/* Для веб-кіт браузерів */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #17696a;
  border-radius: 50px;
}

/* Для Firefox */
::-moz-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-moz-scrollbar-thumb {
  background-color: #17696a;
  border-radius: 50px;
}

body {
  height: 100%;
  font-family: "LatoRegular", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #424551;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "LatoBold";
  src: url("/fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "LatoLight";
  src: url("/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "LatoRegular";
  src: url("/fonts/Lato-Regular.ttf");
}

/* Swiper */

.swiper {
  width: 100%;
  height: auto;
  z-index: 0;
}

.swiper-slide {
  height: auto;
}
.lg-backdrop {
  background-color: #000000cf;
}
.slider-next-popular-categories-btn {
  position: absolute;
  border: none;
  background: none;
  left: 35%;
  top: 105%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  border-radius: 100%;
  padding: 10px;
}
.slider-prev-popular-categories-btn {
  position: absolute;
  border: none;
  background: none;
  left: 65%;
  top: 105%;
  transform: translate(-50%, -50%);
  z-index: 100;
  cursor: pointer;
  border-radius: 100%;
  padding: 10px;
}

.slider-next-categories-btn {
  position: absolute;
  border: none;
  background: none;
  left: 55%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  border-radius: 100%;
  padding: 10px;
  @media screen and (max-width: 768px) {
    left: 70%;
  }
}
.slider-prev-categories-btn {
  position: absolute;
  border: none;
  background: none;
  left: 45%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  border-radius: 100%;
  padding: 10px;
  @media screen and (max-width: 768px) {
    left: 30%;
  }
}

.slider-next-new-products-btn,
.slider-next-trends-products-btn,
.slider-next-recommend-products-btn {
  position: absolute;
  border: none;
  background: none;
  left: 65%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  border-radius: 100%;
  padding: 10px;
  @media screen and (max-width: 480px) {
    left: 80%;
  }
}
.slider-prev-new-products-btn,
.slider-prev-trends-products-btn,
.slider-prev-recommend-products-btn {
  position: absolute;
  border: none;
  background: none;
  left: 35%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  border-radius: 100%;
  padding: 10px;
  @media screen and (max-width: 480px) {
    left: 20%;
  }
}
.slider-next-recommend-products-btn {
  top: 100%;
}
.slider-prev-recommend-products-btn {
  top: 100%;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
