/* Для веб-кіт браузерів */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #17696a;
  border-radius: 50px;
}

/* Для Firefox */
::-moz-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-moz-scrollbar-thumb {
  background-color: #17696a;
  border-radius: 50px;
}

body {
  height: 100%;
  font-family: "LatoRegular", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #424551;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "LatoBold";
  src: url("/fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "LatoLight";
  src: url("/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "LatoRegular";
  src: url("/fonts/Lato-Regular.ttf");
}

/* Swiper */

.swiper {
  width: 100%;
  height: auto;
  z-index: 0;
}

.swiper-slide {
  height: auto;
}
.lg-backdrop {
  background-color: #000000cf;
}
